.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibiility 0.3s ease;
  z-index: 1000;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  height: 80%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.modal-overlay.show .modal-content {
  transform: scale(1);
}

.modal-content.success {
  background-color: #d4edda;
  color: #155724;
  border: 2ps solid #c3e6cb;
}

.modal-content.error {
  background: #f8d7da;
  color: #721c24;
  border: 2px solid #f5c6cb;
}

.yell {
  font-size: 1.2em;
  font-weight: 600;
}
